#home3 {
  background-image: url(../../../public/smartTinghs/home3.png);
}

#home2 {
  background-image: url(../../../public/smartTinghs/home2.png);
}

#home1 {
  background-image: url(../../../public/smartTinghs/home1.png);
}

.homeBg {
  width: 100%;
  height: 80vh;
}
