.container {
  width: 100%;
  background-color: #f7f7f7;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  .link {
    color: blue;
    text-decoration: underline;
  }
}
